@use '../abstract/' as *;
@use '../component/' as *;
.banner--food{
    background-image: url('../../images/family-banner-mobile.jpeg');
    @include mediaQuery{
        background-image: url('../../images/family-banner.jpeg');
    }
}
.activity{
    &__card{
        @include mediaQuery{
            @include unevengrid(1fr 3fr, 5rem);
            margin-bottom: 5rem;
        }
        &__content{
            display: flex;
            flex-direction: column;
            div{
                flex-grow: 1;
            }
        }

        img{
            @include imgCover(100%, 100%);
            border-radius: 1rem;
        }
        h2{
            font-size: clamp(2rem, 10vw, 4rem);
        }
        .btn{
            @include mediaQuery{
                width: 50%;
            }
        }
    }
}
