@use "../abstract/" as *;
.header{
    &__wrapper{
        
        justify-content: space-between;
        align-items: center;
        .toggle__button{
            span{
                display: block;
                width: 3.5rem;
                height: .5rem;
                background-color: $clr-accent;
                margin-bottom: 0.5rem;
                transition: .5s ease;
            }
        }
        .toggle__button.cross{
            // span:nth-child(1){transform: translate(5px, 10px)rotate(45deg);}
            // span:nth-child(2){opacity: 0;}
            // span:nth-child(3){transform: translate(5px,-10px)rotate(-45deg);}
            opacity: 0;
        }
    }

    .dropdown.show{
        opacity: 1;
        visibility: visible;
    }

    .dropdown{
        position: fixed;
        background-color: rgba($clr-neutral, 0.8);
        z-index: 999999;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: .2s ease-in-out;

        button{
            background-color: transparent;
            border: none;
            font-size: 3rem;
            color: $clr-primary;
            padding: 1rem;
            display: flex;
            justify-content: end;
            width: 100%;
        }
        .nav{
            margin-bottom: 2rem;
            a{
                color: $clr-accent;
            }
            ul{
                list-style: none;
            }
            &__menu{
                margin-left: 5rem;
                li{
                    font-size: 2rem;
                    font-weight: bold;
                    margin-bottom: .6rem;
                    .nav__submenu{
                        margin-left: 3rem;
                        li{
                            font-size: 1.3rem;
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        &__footer{
            margin-top: 4rem;
            img{
                margin: 0 auto 2rem;
            }
            text-align: center;
            a{
                font-size: 1.3rem;
            }
        }
    }
    
}


